@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,500;1,500&family=Tiny5&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(to bottom right, #804a4e, #181e41);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400vh; */
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(51, 50, 50));
}

@layer utilities {
  .buttonColor {
    background-image: linear-gradient(to bottom, #e9615e, #ec9956);
  }
}

@theme {
  --shadow-buttonShadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  --font-Jost: Jost, sans-serif;
  --font-Tiny5: Tiny5, sans-serif;
}

.card {
  width: 650px;
  height: 650px;
  border-radius: 30px;
  opacity: 0.8;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
}

.card1 {
  position: relative;
  background: #f00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.card1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(315deg, #03a9f4, #ff0058);
  filter: blur(30px);
}

.card1 .b {
  position: absolute;
  inset: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.card1 img {
  position: absolute;
  z-index: 3;
  scale: 0.8;
  opacity: 0.25;
  transition: 0.5s;
}

.card1:hover img {
  scale: 0.5;
  opacity: 0.9;
  transform: translateY(-70px);
}

.card1 .content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0);
  transition: 0.5s;
}

.card1:hover .content {
  transform: scale(1);
  top: 200px;
}

.tiny5-regular {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}
